electroCenter-Ctest/electroCenter-Ctest.pro
electroCenter-Ctest/electroCenter-Ctest.pro.user
electroCenter-Ctest/main.cpp
electroCenter-Ctest/Makefile
electroCenter-Ctest/Makefile.Debug
electroCenter-Ctest/Makefile.Release
electroCenter-Ctest/release/electroCenter-Ctest.exe
electroCenter-Ctest/release/libgcc_s_dw2-1.dll
electroCenter-Ctest/release/libstdc++-6.dll
electroCenter-Ctest/release/libwinpthread-1.dll
electroCenter-Ctest/release/main.o
electroCenter-Ctest/release/test.exe
electroCenter-PyTest/.idea/.name
electroCenter-PyTest/.idea/electroCenter-PyTest.iml
electroCenter-PyTest/.idea/encodings.xml
electroCenter-PyTest/.idea/misc.xml
electroCenter-PyTest/.idea/modules.xml
electroCenter-PyTest/.idea/scopes/scope_settings.xml
electroCenter-PyTest/.idea/vcs.xml
electroCenter-PyTest/.idea/workspace.xml
electroCenter-PyTest/.idea/dictionaries/H.xml
electroCenter-PyTest/electrostaticCenter.py
electroCenter-PyTest/electrostaticCenter.pyc
electroCenter-PyTest/test.py
electroCenter-Ctest/release/electrostaticCenter.o
*.pyc